{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PurchaseOrder list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order_number</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Total_cost</th>
                <th>Total_discount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ordernumber }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.totalcost }}</td>
                <td>{{ entity.totaldiscount }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('purchaseorder_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('purchaseorder_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('purchaseorder_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
